# Flutter/Dart
.dart_tool/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
Generated.xcconfig
flutter_export_environment.sh

# iOS
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# Android
android/.gradle/
android/build/

# VS Code / IntelliJ
.vscode/
.idea/

# Logs
*.log

# Keys and sensitive files
*.keystore
*.jks
*.p12
*.mobileprovision
*.cer
