# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/

# Android
**/android/.gradle/
**/android/.idea/
**/android/local.properties
**/android/app/build/
**/android/build/

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Runner.build/
**/ios/build/
**/ios/*.xcarchive

# Xcode user data
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/

# Other
*.ipa
*.apk
*.aab
*.so
*.dSYM
