# Flutter/Dart
.dart_tool/
.pub/
build/

# Android
android/.gradle/
android/build/

# iOS
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/Flutter/

# IDE
.vscode/
.idea/

# Logs & keys
*.log
*.keystore
*.jks
